.head{
    text-align: center;
    height: 100px;
    margin-top: 20px;
    font-size: 25px;
    font-weight: 900;
    align-items: center;
}
.labelName{
    font-weight: 700 ;
    font-size: larger ;
    color: black ;
}
.createbtn{
    width: 250px;
    height: 40px;
    margin-top: 10px;
    margin-left: 12.5%;
}

img{
    width: 100px;
    height: 100px;
}